.carSelectOpt {
    margin: auto;
    width: 350px;
    display: flex;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #C0EF52;
    overflow: hidden;
    height: 42px;
}

.infoBox {
    margin: auto auto 20px auto;
    display: grid;
    width: 350px;
    height: 75vh;
    overflow-y: auto;
}

.openChance,
.openHighCars {
    width: 50%;
    height: 42px;
    display: grid;
    align-items: center;
    justify-content: center
}

.StationsInPath {
    margin-top: 76.773px;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.Chance,
.HighCars {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.Chance p {
    font-size: 12px;
    margin: 16px auto 46px 50px;
}

.HighCars p {
    font-size: 12px;
    margin: 16px 3px 46px 0;
}

.Chance p img {
    padding-left: 4px;
    vertical-align: middle;
}