.carSelectOptWrap {
    width: 390px;
    margin: 0 auto;
}

.carSelectOptWrap .carSelectToggle {
    margin: 30px 20px 0 20px;
    display: flex;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #C0EF52;
    overflow: hidden;
    height: 42px;
}

.infoBoxWrap {
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none;
    width: 390px; 
    height: 490px;
    margin: 0 auto;
    overflow: auto;
}
.infoBoxWrap::-webkit-scrollbar {
    width: 1px;
}
.infoBoxWrap::-webkit-scrollbar-thumb {
    /* background-color: #7ED287; */
    background-color: #fff;
}

.infoBox {
    margin: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    /* align-items: end; */
}

.openChance,
.openHighCars {
    width: 50%;
    height: 42px;
    display: grid;
    align-items: center;
    justify-content: center
}

.StationsInPath {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleWrap {
    width: 390px;
    margin: 0 auto;
}
.chance {
    font-size: 12px;
    padding: 16px 20px 0 0;
    text-align: right;
    margin: 0;
}

.highCars {
    font-size: 12px;
    padding: 16px 20px 0 0;
    text-align: right;
    margin: 0;
}

.chance img {
    padding-left: 4px;
    vertical-align: middle;
}