/* .MetroMap {
  display: flex;
  align-items: center;
  height: 70vh;
  overflow: hidden;
} */

.MetroMap canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
}