/* .MetroMap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  } */

.MetroMap canvas {
    position: absolute;
  }
.mapImageWrap {
    width: 50%;
}
.mapImageWrap img {
    max-width: 100%;
}
