.Ham-wrapper {
  width: 100%;
  margin: 0 auto;
}
.Ham-cont {
  padding: 0 20px;
}
/* .Ham-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 158px;
  background-color: #7ED287;
}
.Ham-header .ex-btn {
  align-items: center;
} */
.Ham-header {
  height: 158px;
  background-color: #7ed287;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo li {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}
.logo li img {
  width: 18px;
}
.info {
  margin-top: 20px;
  color: #ffffff;
}
.menu {
  margin-top: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li img {
  vertical-align: middle;
}
