ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Hamburger {
  position: relative;
  width: 100%;
  z-index: 40;
}

.hamMenu,
.hamMenu span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  cursor: pointer;
}

.hamMenu {
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 24px;
  width: 24px;
  height: 20px;
}

.hamMenu span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 4px;
}

.hamMenu span:nth-of-type(1) {
  top: 0;
}

.hamMenu span:nth-of-type(2) {
  top: 8px;
}

.hamMenu span:nth-of-type(3) {
  bottom: 0;
}

.hamMenu.active-1 span:nth-of-type(1) {
  transform: translateY(8px) rotate(-45deg);
}

.hamMenu.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.hamMenu.active-1 span:nth-of-type(3) {
  transform: translateY(-9px) rotate(45deg);
}

.logo img {
  text-align: center;
}

.hamCont {
  width: 100%;
  height: 100vh;
  margin-top: 43px;
  background-color: #ffffff;

}

/* .infoWrap {
  width: 100%;
  background-color: #7ED287;
} */

.info {
  /* width: 390px;
  margin: 0 auto; */
  /* margin-top: -26px; */
  padding: 16px 20px;
  background-color: #7ED287;
  color: #ffffff;
}

.info li {
  cursor: default;
  margin-bottom: 4px;
}

.menu {
  /* width: 390px;
  margin: 0 auto; */
  padding: 20px;
  /* padding-left: 20px; */
}

.menu li {
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
  font-weight: 500;
  cursor: pointer;
}

.menu li img {
  padding: 0;
  width: 24px;
  height: 24px;
}

.menu li span {
  margin-left: 10px;
}

.menu li a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
}