.BottomNav {
    width: 390px;
    margin: 0 auto;
    position: relative;
}

.navOnBtn {
    cursor: pointer;
    position: fixed;
    left: 50%;
    top: 80%;
    transform: translate(130%, 0);
    border: none;
    background-color: #C0EF52;
    border-radius: 22px;
    width: 74px;
    height: 38px;
    font-weight: bold;
    font-size: 14px;
}

.bottomNavContainer {
    position: fixed;
    left: 50%;
    top: 74%;
    transform: translate(36%, 0);
    text-align: right;
    z-index: 45;
}

.bottomNav {
    width: 120px;
    height: 66px;
    background-color: #C0EF52;
    border-radius: 10px;
}

.bottomNavLink {
    margin: 0;
    padding: 6px 10px 12px 10px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
}

.navCloseBtn {
    border: none;
    background-color: #C0EF52;
    text-align: center;
    border-radius: 6px;
    padding: 6px 5px 2px 5px;
    margin: 6px 0;
    cursor: pointer;
}

.navCloseBtn img {
    width: 12px;
    height: 12px;
}

.bottomNavLink li {
    cursor: pointer;
}

.bottomNavLink li img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding-right: 8px;
}

.bottomNavLink li:last-child img {
    width: 22px;
    height: 22px;
}

.blackBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 40;
}