.stationList {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 35px;
}

.redSpan {
    color: #FC3C3C;
    font-size: 11px;
}

.blueSpan {
    color: #5FBBD0;
    font-size: 11px;
}