.StationsInPath {
    background-image: url(../../assets/images/greenLine.svg);
    background-repeat: repeat-y;
    /* background-position: 12%; */
    background-position: 10px;
}

.stationList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    height: 64px;
    padding-left: 36px;
    position: relative;
}
.stationLineCircle {
    position: absolute;
    left: 2px;
    top: 18px;
}

.redSpan {
    color: #FC3C3C;
    font-size: 11px;
    position: relative;
    top: -4px;
}

.blueSpan {
    color: #5FBBD0;
    font-size: 11px;
    text-align: right;
    position: relative;
    right: -10px;
    top: 4px;
}