@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'NanumSquareNeo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-width: 360px;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding-top: 68px;
  font-size: 28px;
  font-weight: bold;
  background-color: #7ED287;
  text-align: center;
  color: white;
  vertical-align: middle;
  background-image: url(../src/assets/images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}