.highCarsList {
    font-size: 12px;
    height: 37.5px;
    padding-top: 14px;
}

.highCarsList div {
    width: 15px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 2px;
}

.highLighted {
    background-color: #7ED287;
}

.unHighLighted {
    background-color: #D9D9D9;
}