.HighCars {
    margin-top: 18px;
}

.highCarsList {
    font-size: 12px;
    height: 52px;
    padding: 6px 0;
}

.highCarsList div {
    width: 15px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 2px;
}

.highLighted {
    background-color: #7ED287;
}

.unHighLighted {
    background-color: #D9D9D9;
}