.Chat {
    height: 100vh;
    margin-bottom: 0;
    background-color: #7ed2871a;
}

.chatWrap {
    width: 390px;
    /* height: 100vh; */
    margin: 0 auto;
    /* background-color: palevioletred; */
}

.messageContainer {
    margin: 0 20px;
    height: 83%;
    overflow: auto;
    word-wrap: break-word;
}

.messageList {
    margin-top: 20px;
    padding: 0 18px 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sender {
    align-self: flex-start;
    margin-bottom: -8px;
    font-weight: bold;
    font-size: 10px;
    color: #7ed287;
}

.username {
    align-self: flex-end;
    margin-bottom: -8px;
    font-weight: bold;
    font-size: 10px;
    color: #7ed287;
}

.receivedMessage {
    align-self: flex-start;
    padding: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #7ED287;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    max-width: 70%;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.12);
    word-wrap: break-word;
}

.sentMessage {
    align-self: flex-end;
    padding: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #C0EF52;
    max-width: 70%;
    font-size: 16px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.12);
    word-wrap: break-word;
}

.userInOut {
    text-align: center;
    color: #d8d8d8;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 20px;
}

.inputForm {
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 44px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
    margin: 0 auto 0 auto;
    position: fixed;
    align-content: center;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    /* 내부 컨텐츠를 좌우로 정렬 */
    align-items: center;
    /* 내부 컨텐츠를 수직으로 중앙 정렬 */
    z-index: 20;
}

#inputMessage {
    flex: 1;
    background-color: rgba(126, 210, 135, 0);
    border: none;
    display: inline-block;
    height: 44px;
    font-size: 12px;
    padding-left: 10px;
}

#inputMessage:focus {
    outline: none;
}

#sendButton {
    padding-right: 10px;
    cursor: pointer;

}

/* 스크롤 바의 전체 영역을 선택 */
#messageContainer::-webkit-scrollbar {
    width: 2px;
    /* 스크롤 바의 너비 */
}

/* 스크롤 바의 추적(track) 부분을 선택 */
#messageContainer::-webkit-scrollbar-track {
    background: rgba(126, 210, 135, 0);
    /* 스크롤 바의 배경 색상 */
}

/* 스크롤 바의 손잡이(thumb) 부분을 선택 */
#messageContainer::-webkit-scrollbar-thumb {
    background: rgba(126, 210, 135, 0.1);
    /* 스크롤 바의 색상 */
    border-radius: 5px;
    /* 스크롤 바의 모서리 둥글게 처리 */
}
