#stationSearchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBox {
    display: flex;
    justify-content: space-between;
    width: 350px;
    z-index: 4;
}

#startStationInput,
#endStationInput {
    margin-top: 19px;
    padding: 0 0 0 9px;
    border-radius: 10px;
    border: 1px solid #7ED287;
    background-color: #fff;
    width: 161px;
    height: 42px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}

#startStationInput:focus,
#endStationInput:focus {
    outline: none;
    background-color: #fff;
}

#startStationInput::placeholder,
#endStationInput::placeholder {
    color: #7ED287
}

.searchResultList {
    position: absolute;
    top: 131px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #7ED287;
    background-color: white;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.startResult,
.endResult {
    width: 331px;
}

.startResult,
.endResult,
.dropdown-options {
    list-style: none;
    color: rgb(92, 92, 92);
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.carNumber {
    border-radius: 10px;
    margin-top: 8px;
    padding: 0 0 0 0;
    width: 350px;
    height: 44px;
    z-index: 2;
    background-color: #fff;
    cursor: pointer;
    display: flex;

}

.selected-option {
    border-radius: 10px;
    border: 1px solid #7ED287;
    width: 339px;
    height: 31px;
    font-size: 16px;
    color: #7ED287;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
    padding: 11px 0 0 9px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}

.selected-option img {
    padding-right: 16px;
}

.dropdown-options {
    position: absolute;
    border-radius: 10px;
    border: 1px solid #7ED287;
    width: 348px;
    top: 175px;
    padding-top: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    z-index: 1;
}

.dropdown-options li,
.searchResultList li {
    padding: 5px 0 6px 18px;
    font-size: 14px;
}

.searchBtn {
    border-radius: 10px;
    border: 1px solid #7ED287;
    background-color: #7ED287;
    color: white;
    margin-top: 16px;
    padding: 0;
    width: 350px;
    height: 44px;
    font-size: 16px;
    z-index: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.hover {
    background-color: #7ED287;
    color: white;
}