#stationSearchForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 19px;
}

#startStationInput,
#endStationInput {
    border-radius: 10px;
    border: 1px solid #7ED287;
    background-color: #fff;
    width: 161px;
    height: 42px;
    padding: 0 0 0 9px;
    font-size: 16px;
}

#startStationInput {
    margin-right: 6px;
}

#startStationInput::placeholder,
#endStationInput::placeholder {
    color: #7ED287
}

.searchResultList {
    position: absolute;
    top: 139px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 0.5px solid #7ED287;
    background-color: white;
}

.startResult,
.endResult {
    width: 340px;
    list-style: none;
    padding: 6px 0 6px 9px;
    color: rgb(92, 92, 92);
}

#carNumber {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    border: 1px solid #7ED287;
    margin-top: 8px;
    padding: 0 0 0 9px;
    width: 350px;
    height: 44px;
    font-size: 16px;
}

.searchBtn {
    border-radius: 10px;
    border: 1px solid #7ED287;
    background-color: #7ED287;
    color: white;
    margin-top: 16px;
    padding: 0;
    width: 350px;
    height: 44px;
    font-size: 16px;
}